<div ng-show=!table class=loading></div>
<!--
<table ng-show=table ordered class="table table-bordered table-condensed">
  <tr ng-repeat="row in table | orderBy:predicates:reverse">
    <th>
    <th ng-show="!$parent.$index" ng-repeat="column in row track by $index">
      <a ng-click="orderSetter(column.text)">
        {{column.text}}
      </a>
    <td ng-show="$parent.$index" ng-repeat="column in row track by $index"
    ng-class="{
      success: column.color == 'success',
      warning: column.color == 'warning',
      danger: column.color == 'danger',
      active: column.color == 'unknown' || !column
    }">
      {{column.text}}
</table>
  -->

  <table ordered ng-show=table class="table table-bordered table-condensed">
    <tr>
      <th>
        <a ng-click="orderSetter('')">
          Index
        </a>
      <th ng-repeat="column in table.columns track by $index">
        <a ng-click="orderSetter(column)">
          {{column}}
        </a>
    <tr ng-repeat="row in table.rows | orderBy:predicateGetters:reverse">
      <th>
        {{row[''].text}}
      <td ng-repeat="column in table.columns track by $index"
        ng-class="{
          success: row[column].color == 'success',
          warning: row[column].color == 'warning',
          danger: row[column].color == 'danger',
          active: row[column].color == 'unknown' || !row[column]
        }">
        {{row[column].text}}
  </table>
