<div>
  {{filters}}

  <ul>
    <li ng-repeat="d in data">{{d[''].content}}</li>
  </ul>

  <div class="panel panel-primary" ng-hide="display.hide">
    <div class="panel-heading">
      <h3 class="panel-title">
        Settings
        <div class="pull-right">
          <span ng-click="display.fold = !display.fold">fold</span>
          <span ng-click="display.reset()">reset</span>
        </div>
      </h3>
    </div>
    <div class="btn-toolbar">
      <div class="btn-group" ng-repeat="(column, _) in display.hidden track by column">
        <button type="button" class="btn btn-default"
         ng-click="display.show(column)">{{column}}</button>
      </div>
      <div class="btn-group pull-right">
        <div class="btn btn-link" ng-click="display.reset()">reset</div>
      </div>
    </div>
  </div>

  <div class="panel panel-primary" ng-hide="order.hide">
    <div class="panel-heading">
      <h3 class="panel-title">
        Sort
        <div class="pull-right">
          <span ng-click="order.hide = !order.hide">hide</span>
          <span ng-click="order.reset()">reset</span>
        </div>
      </h3>
    </div>
    <div class="btn-toolbar">
      <div class="btn-group" ng-repeat="column in order.columns">
        <button type="button" class="btn btn-default"
         ng-click="order.toggle(column)">
          {{ order.predicates[column] || '↕'}}
        </button>
        <button type="button" class="btn btn-default"
         ng-click="order.promote(column)">{{column || 'Index'}}</button>
        <button type="button" class="btn btn-default"
         ng-click="order.remove(column)">&times;</button>
      </div>
    </div>
  </div>

  <div class="panel panel-primary" ng-hide="filters.hide">
    <div class="panel-heading">
      <h3 class="panel-title">
        Filters
        <div class="pull-right">
          <span ng-click="filters.hide = !filters.hide">hide</span>
          <span ng-click="filters.reset()">reset</span>
        </div>
      </h3>
    </div>

    <div>
      <filter-tree class="row" node="filters.root" filters="filters" table="table"></filter-tree>
    </div>

  </div>

  <div ng-show=!table class=loading></div>
  <table ng-show=table class="table table-bordered table-condensed">
    <tr>
      <th>
        <a ng-click="order.add('')">
          Index
        </a>
      <th ng-repeat="column in table.columns track by $index"
        ng-show="!display.hidden[column]">
        <button type=button class=close ng-click="display.hide(column)">&times;</button>
        <button ng-click="order.add(column)">
          {{ order.predicates[column] || '↕'}}
        </button>
        {{column}}
    <tr ng-show="filters.execute(row)" ng-repeat="row in order.execute(table.rows)">
      <th>
        {{row[''].content}}
      <td ng-repeat="column in table.columns track by $index"
        ng-show="!display.hidden[column]"
        ng-class="{
          success: row[column].color == 'success',
          warning: row[column].color == 'warning',
          danger: row[column].color == 'danger',
          active: row[column].color == 'unknown' || !row[column]
        }">
        {{row[column].content}}
        <a ng-show=false ng-repeat="link in row[column].links" ng-href="{{links[link]}}">
          [{{link}}]
        </a>
  </table>

</div>
