<div class=col-lg-4>
  <select ng-model="filter.column" class="form-control">
    <option ng-repeat="column in table.columns track by $index">{{column}}</option>
  </select>
</div>

<div class="col-lg-2 btn-group">
  <label class="btn btn-danger" ng-class="{inactive: !filter.not}">
    <input class="hide" ng-model="filter.not" type="checkbox">
    <span>NOT</span>
  </label>
</div>

<div class=col-lg-2>
  <select ng-model="filter.cmp" class="form-control">
    <option ng-repeat="(name, cmp) in filters.tests">{{name}}</option>
  </select>
</div>

<div class=col-lg-4>
  <input ng-model="filter.value" type="text" class="form-control">
</div>
